@page "/"


<PageTitle>Efrei Pizza</PageTitle>

<h1 > ❇️ @Luigi.Name ❇️ </h1>


@* <div>Stats : @Luigi.PrintPizzeria() </div> *@


Name : @name

<input type="text" @bind="name" @bind:event="oninput">
<button @onclick="erased">erased</button>



@code {

    Pizzeria Luigi = new Pizzeria("Chez Luigi");

    public string name { get; set; } = " ";

    public void erased()

    {

        name = " ";

    }




}


