@page "/"


<PageTitle>Efrei Pizza</PageTitle>

<h1>Take your order here</h1>

<h2>You can choose here your pizza</h2>

<div> @margherita.GetPizza() </div>

<button @onclick ="Click" > clique sur moi </button> -> @click



@code {

    Pizza margherita = new Pizza("Margherita", 8.5, 1, "Tomato, cheese, basil");

    public int click = 0;

    public void Click() {

        click ++;

    }


}


