@page "/"


<PageTitle>Efrei Pizza</PageTitle>

<h1>Efrei Pizza Software</h1>



@code {

    Pizzeria Luigi = new Pizzeria("Chez Luigi");

    Luigi.CreateClient("Bowser", "King", "Paris", "06");

    Luigi.CreateCommis("Mushroom", "Toad");


}


